<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFService.Service" behaviorConfiguration="DataBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/wcfdemo"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="IWCFService.IService"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DataBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>