<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IUserService1" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IService2" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8082/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:8082/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="Wcf.IService1"
        name="service1" />
      <endpoint address="http://samplelife:8082/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService1" contract="WCFUserService.IUserService"
        name="BasicHttpBinding_IUserService1" />
      <endpoint address="http://samplelife:8082/Service2.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IService2" contract="Service2.IService2"
        name="WSDualHttpBinding_IService2">
        <identity>
          <servicePrincipalName value="host/SampleLife" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>