*
{
	padding: 0;
	margin: 0;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-face-color: #d9d9d9;
	scrollbar-3dlight-color: #d9d9d9;
	scrollbar-darkshadow-color: #d9d9d9;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #ffffff;
}
div, dl, dt, dd, th, td, ul, ol, li, form, p, img, table
{
	border: 0;
	list-style: none;
}
a
{
	text-decoration: none;
}
body
{
	background-color: #ffffff;
	text-align: center;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6
{
	font-family: "宋体";
}
.commonBtn
{
	color: White;
	vertical-align: middle;
	font-size: 13px;
	font-family: "宋體";
	border-style: none;
	height: 26px;
	width: 65px;
	cursor: pointer;
	background: url(images/BtnBack.gif) no-repeat;
	margin: auto 15px auto 15px;
}
.commonText, select
{
	border: solid 1px Silver;
	vertical-align: middle;
	font-size: small;
	background-color: #fff;
}
.commonText
{
	height: 17px;
	padding-top: 3px;
}
.commonCheck input
{
	border: 0;
	vertical-align: middle;
}
.clear
{
	clear: both;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#divContainer
{
	margin: 0 auto;
	width: 1024px;
	text-align: left;
	border: 0;
	padding: 0;
}
#bodyShadowLeft
{
	width: 3px;
	float: left;
	background: url(images/leftShadow.jpg) repeat-y;
}
#bodyShadowRight
{
	width: 3px;
	float: left;
	background: url(images/RightShadow.jpg) repeat-y;
}
.divTopBar
{
	font-size: small;
	float: right;
	height: 25px;
	margin-right: 86px !important;
	margin-right: 43px;
	margin-top: 2px;
	vertical-align: middle;
}
.divTopBar img
{
	float: left;
	margin: 0 10px 0 10px;
}
.divTopBar a
{
	padding: 0 0 0 22px;
	padding: 3px 0 0 22px\9;
	color: Black;
	margin-top: 5px;
	display: inline-block;
	cursor: pointer;
	background-position: left center;
	background-repeat: no-repeat;
	height: 13px\9;
	height: 16px;
	float: left;
}
.divTopBar .setHomePage
{
	background-image: url(images/home.png) !important;
	background-image: url(images/home.gif);
}
.divTopBar .addFavorite
{
	background-image: url(images/about.png) !important;
	background-image: url(images/about.gif);
}
.divTopBar .getHelp
{
	background-image: url(images/help.png) !important;
	background-image: url(images/help.gif);
}
.divTopBar .logOut
{
	background-image: url(images/logout.png) !important;
	background-image: url(images/logout.gif);
}
.LOGO
{
	width: 352px;
	margin-left: 334px !important;
	margin-left: 167px;
	height: 61px;
	margin-top: 35px !important;
	margin-top: 62px;
	float: left;
}
.divThemeChange
{
	float: right;
	margin-top: 15px;
	margin-right: 106px !important;
	margin-right: 53px;
	word-spacing: 5px;
}
.content
{
	width: 1001px;
	height: auto;
	margin: 0px auto auto auto;
	padding: 0px 0px auto 0px;
}
.divContentBg
{
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	background: url(images/Gray_BG.jpg) repeat-x;
}
.contentTitle
{
	color: #3f3f3f;
	font-weight: bold;
	font-family: "宋體";
	font-size: 16px;
	vertical-align: middle;
	width: 740px;
	height: 23px\9;
	height: 26px;
	padding-left: 50px;
	padding-top: 7px\9;
	padding-top: 4px;
	background: url(Images_new/contentTitleBg.jpg) no-repeat;
	margin-top: 15px;
	text-align:center;
}
.messageLabel
{
	background: #eeeeee;
	color: #ff3333;
	vertical-align: middle;
	text-align: center;
	border: dotted 1px gray;
	padding-top: 2px !important;
	padding-top: 4px;
	height: 18px !important;
	height: 16px;
	font-size: 12px;
}
.AspNetPager
{
	color: #999;
	margin-top: 5px;
	float: right;
	margin-right: 5px;
}
.AspNetPager a, .AspNetPager .NowIndex
{
	text-decoration: none;
	float: left;
	padding: 0 5px;
	border: 1px solid #ddd;
	background: #ffff;
	margin: 0 2px;
	font-size: 11px;
	color: #000;
}
.AspNetPager a:hover
{
	background-color: #E61636;
	color: #fff;
	border: 1px solid #E61636;
	text-decoration: none;
}
.AspNetPager .NowIndex
{
	font-weight: bold;
	color: #fff;
	background: #E61636;
	border: 1px solid #E61636;
}

/*LeftMenu*/
.LeftNav
{
	width: 186px;
	height: auto;
	float: left;
	margin: 0px 0px auto 0px;
	right: 0px;
}
.LeftNavHead
{
	width: 186px;
	height: 18px;
	text-align: center;
	padding-top: 7px;
	background: url(images/LeftNavHead.png) no-repeat !important;
	background: url(images/LeftNavHead.gif) no-repeat;
}
.LeftNavHead h1
{
	font-size: 12px;
	color: #000;
}
.LeftNavBG
{
	width: 186px;
	background: url(images/LeftNavBG.png) repeat-y !important;
	background: url(images/LeftNavBG.gif) repeat-y;
}
.LeftNavBtn
{
	width: 178px;
	height: auto;
	margin-left: 4px !important;
	margin-left: 2px;
	float: left;
}
.LeftNavBtn ul li a
{
	width: 178px;
	height: 30px;
	height: 28px\9;
	padding-top: 12px;
	padding-top: 14px\9;
	color: #323232;
	font-weight: bold;
	vertical-align: middle;
	float: left;
}
.LeftNavBtn ul li a:hover
{
	background: url(images/LeftMenuBg2.jpg) no-repeat;
}
.LeftNavBtn ul li a img
{
	vertical-align: middle;
	margin-left: 25px;
	width: 17px;
	height: 17px;
}
.LeftNavBtn ul li a p
{
	padding-left: 15px;
	display: inline;
}
.LeftNavBtn ul li div a
{
	color: #323232;
	padding-top: 5px;
	padding-top: 8px\9;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	padding-left: 40px;
	display: block;
	float: left;
	width: 137px;
	height: 20px;
	height: 18px\9;
	background-image: url(images/Symbol2.gif);
	background-repeat: no-repeat;
	background-position: 20px center;
	border: dotted 1px silver;
	border-width: 0px 0px 1px 0px;
}
.LeftNavBtn ul li div a:hover
{
	color: #F18A30;
	background-image: url(images/Symbol1.gif);
	background-position: 20px center;
}
.LeftNavBottom
{
	width: 186px;
	height: 28px;
	background: url(images/LeftNavBottom.png) no-repeat !important;
	background: url(images/LeftNavBottom.gif) no-repeat;
}
.PhoneBG
{
	width: 165px;
	height: 58px;
	background: #def9ce;
	margin-left: 2px !important;
	margin-left: 1px;
	float: left;
	padding-left: 15px;
	padding-top: 4px;
}
.PhoneHotline
{
	width: 151px;
	height: 20px;
	background: url(images/kefurexian.jpg) no-repeat;
	float: left;
}
.PhoneBG span
{
	width: 147px;
	height: 20px;
	background: url(images/106.jpg) no-repeat;
	float: left;
	margin-top: 12px;
}

.LeftMenuBtn
{
	background: url(images/LeftMenuBg1.jpg) no-repeat;
}
.LeftMenuBtnAct
{
	background: url(images/LeftMenuBg2.jpg) no-repeat;
}
/*LeftMenu End*/

/*Content*/
.box
{
	padding: 0px;
	margin: 0px auto auto 0px;
	width: 814px;
	height: auto;
	float: left;
}
.RightContent
{
	height: auto;
	margin-left: 7px !important;
	margin-left: 4px;
	float: left;
}
.RightShadow
{
	width: 2px;
	float: left;
	background: url(images/RightContentShadow.jpg) repeat-y;
}

.RightContentBG
{
	width: 800px;
	height: auto;
	float: left;
	background: #FFF;
	overflow: hidden;
}
.RightContentNav
{
	width: 790px;
	overflow: hidden;
	margin: 0 5px 0 5px !important;
	margin: 0px 2px 0px 2px;
	float: left;
}
.Blank
{
	height: 20px;
	width: 785px;
	float: left;
	margin-left: 5px;
}
.RightContentBottom
{
	width: 802px;
	height: 8px;
	background: url(images/RightContentBottom.jpg) repeat-x;
	float: left;
}
.tableTitle
{
	width: 790px;
	height: 34px;
	margin-top: 20px;
}
.tableTitle td.tableTitletd2
{
	width: 702px;
	padding-left: 20px;
	padding-top: 5px;
}
.tableTitle td.tableTitletd2 h2
{
	font-size: 14px;
	vertical-align: middle;
}
.tableTitle td.tableTitletd3 h1 a
{
	width: 60px;
	font-size: 13px;
	color: #595959;
	padding-top: 0px;
	vertical-align: middle;
}
.tableTitle td.tableTitletd1Yellow
{
	width: 4px;
	background: url(images/tableLeftBG.jpg) no-repeat;
}
.tableTitle td.tableTitletd4Yellow
{
	width: 4px;
	background: url(images/tableRightBG.jpg) no-repeat;
}
.tableTitle td.tableTitletd1Green
{
	width: 4px;
	background: url(images/tableLeftBG2.jpg) no-repeat;
}
.tableTitle td.tableTitletd4Green
{
	width: 4px;
	background: url(images/tableRightBG2.jpg) no-repeat;
}
.tableTitle td.tableTitletd1Orange
{
	width: 4px;
	background: url(images/tableLeftBG3.jpg) no-repeat;
}
.tableTitle td.tableTitletd4Orange
{
	width: 4px;
	background: url(images/tableRightBG3.jpg) no-repeat;
}
.tableTitle td.tableTitletd1Blue
{
	width: 4px;
	background: url(images/tableLeftBG4.jpg) no-repeat;
}
.tableTitle td.tableTitletd4Blue
{
	width: 4px;
	background: url(images/tableRightBG4.jpg) no-repeat;
}
.InfoTable
{
	width: 790px;
	border: 1px solid #d9d5d5;
	border-width: 0px 1px 0px 1px;
}
.InfoTable tr
{
	border: none;
}
.InfoTable tr th
{
	background: #f5f4f4;
	font-size: 13px;
	color: #000;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d9d5d5;
	border-width: 0px 0px 1px 0px;
}
.InfoTable tr td
{
	font-size: 12px;
	color: #000;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d9d5d5;
	border-width: 0px 0px 1px 0px;
}
.InfoTable tr td a
{
	color: #000;
}
.divMessageInfo
{
	text-align: center;
	border: dotted 1px silver;
	font-size: small;
	width: 99.6%;
	margin-top: 10px;
	height: 17px;
	padding-top: 5px;
	vertical-align: middle;
	background-color: #f8f8f8;
}
.TableContainer
{
	margin-top: 10px;
}
.TableContainer td.tbTopLeft
{
	width: 5px;
	height: 4px;
	background: url(images/content_top_left.gif) no-repeat;
	overflow: hidden;
}
.TableContainer td.tbTopMiddle
{
	width: 100%;
	background: url(images/content_top_center.gif);
}
.TableContainer td.tbTopRight
{
	width: 5px;
	background: url(images/content_top_right.gif) no-repeat;
	overflow: hidden;
}
.TableContainer td.tbMiddleLeft
{
	border: 1px solid #d5d5d5;
	border-width: 0px 0px 0px 1px;
	background-color: #ececec;
	overflow: hidden;
}
.TableContainer td.tbMiddleRight
{
	border: 1px solid #d5d5d5;
	border-width: 0px 1px 0px 0px;
	background-color: #ececec;
	overflow: hidden;
}
.TableContainer td.tbBottomLeft
{
	overflow: hidden;
	height: 4px;
	width: 5px;
	background: url(images/content_bottom_left.gif) no-repeat;
}
.TableContainer td.tbBottomMiddle
{
	background: url(images/content_bottom_center.gif);
}
.TableContainer td.tbBottomRight
{
	overflow: hidden;
	width: 5px;
	background: url(images/content_bottom_right.gif) no-repeat;
}
.GridViewStyle tr
{
	border: none;
	color: #000;
}
.GridViewStyle tr th
{
	background: #ececec;
	font-size: 13px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d5d5d5;
	border-width: 0px 0px 1px 0px;
}
.GridViewStyle tr td
{
	font-size: 12px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d5d5d5;
	border-width: 0px 0px 1px 0px;
}
.GridViewStyle tr td a
{
	color: #000;
}
.QueryTable
{
	background: #ececec;
}
.QueryTable tr td
{
	font-size: small;
	vertical-align: middle;
	height: 30px;
}
.DataContainer
{
	width: 100%;
	padding-bottom: 3px !important; *padding-bottom:20px!important;padding-bottom:20px;overflow:auto;overflow-x:auto;overflow-y:hidden;
}

/*Content End*/

/*Bottom*/
.bottomLink
{
	height: 15px;
	margin: 0 auto;
	line-height: 15px;
	vertical-align: middle;
	margin-top: 10px;
}
.bottomLink span
{
	display: inline-block;
	width: 7px;
	height: 15px;
	margin-right: 5px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-image: url(images/PIC-Bottom.png) !important;
	background-image: url(images/PIC-Bottom.gif);
}
.bottomLink em
{
	font-size: 12px;
	font-family: "宋体";
	padding-right: 7px;
	font-style: normal;
	font-weight: bold;
}
.bottomLink a
{
	font-size: 12px;
	font-family: "宋体";
	padding-right: 7px;
	color: #000;
}
.Copyright
{
	width: 100%;
	height: 17px;
	margin-top: 10px;
	font-size: 12px;
	font-family:"宋体";
	color: #000;
}
/*Bottom End*/

.NoticeInfoHead
{
	width: 100%;
	height: 38px;
	background: url(Images_new/NewsTitle.gif) repeat-x;
	text-align: center;
}
.NoticeInfoHead h1
{
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	font-size: 14px;
	color: #FFF;
	display: inline;
}
.NoticeInfoTitleBG
{
	width: 100%;
	background: #c6c9c2;
	font-size: 14px;
}
.filelink a
{
	font-size:small;
	display:block;
}
.NoticeInfoContent
{
	width: 100%;
	overflow: auto;
}
.NoticeInfoContent #content
{
	font-size: small;
	font-family: "宋体";
	color: #000;
	float: left;
	line-height: 25px;
	text-align: left;
	vertical-align: middle;
	display:block;
	padding:10px 10px auto 20px;
}
.FaqQuestionInfoBG
{
	width: 100%;
	height: 300px;
	background: #c6c9c2;
	font-size: 14px;
}
.FaqAnswerInfoBG
{
	font-size: 14px;
	width: 100%;
	overflow: auto;
	background-color: #e5eddc;	
}
